/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

::-webkit-input-placeholder {
  /* WebKit browsers */
  font-style: italic;
  opacity: 0.5;
}

@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
/* test */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* root reset */
* {
  text-decoration: unset;
  color: unset;
  box-sizing: border-box;
}
/* reset button style */
body button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  width: unset;
  height: unset;
}

:root {
  --backgroung-color-light: #fffef8;
  --middle-green: #1d6154;
  --dark-green: #0e2f28;

  --error: #be2d25;
  --error-light: #d8817c;
  --error-dark: #851f1a;
}
/** end reset css**/

/** Banniere + boutons mode edition start **/

.edition {
  display: none;
  gap: 0.5rem;
}

.edition-main-photo {
  margin: 1rem auto;
  width: 80%;
}

#editionbanniere {
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
}

#editionbanniere i {
  color: white;
}

#editionbanniere p {
  color: white;
}

#editionbanniere .changements {
  background-color: white;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 1rem;
  border-radius: 100px;
  /* color: white; */
}

/** Banniere + boutons mode edition end **/

body {
  background-color: var(--backgroung-color-light);
  /* background-color: var(--backgroung-color-light); */
  min-height: 1vh;
  max-width: 1140px;
  min-width: 320px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

.btn-fixed {
  font-family: "Syne";
  text-align: center;
  color: var(--backgroung-color-light);
  background-color: var(--middle-green);
  height: 2rem;
  border-radius: 60px;
  padding: 5px 50px;
  margin: 1rem auto;
  transition: 0.15s ease-out;
}
.btn-fixed:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn-fixed:active {
  background-color: var(--dark-green);
}

.btn-fixed-red {
  font-family: "Syne";
  text-align: center;
  color: var(--backgroung-color-light);
  background-color: var(--error);
  height: 2rem;
  border-radius: 60px;
  padding: 5px 50px;
  margin: 1rem auto;
  transition: 0.15s ease-out;
}
.btn-fixed-red:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-fixed-red:active {
  background-color: var(--error-dark);
}

/** ------------------------ MODALE (debut) ------------------------ **/

#modale1 {
  display: none;
}
.modale {
  /* position: relative; */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.modale-wrapper {
  /* position: absolute; */
  background: var(--backgroung-color-light);
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 0.4rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vw - 2rem);
  width: 630px;
  padding: 1rem;
}

.modale-wrapper .fa-xmark {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.modale-wrapper h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.modale-wrapper h4 {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modale-gallery-container {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  overflow: initial;
}

/** ----- GALLERIE MODALE (debut) ----- **/

.modale-gallery-container figure {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.modale-gallery-container figure:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.modale-gallery-container figure:hover > .projetpreview .icon-largeview {
  display: block;
}

.modale-gallery-container figure:focus > .projetpreview .icon-largeview {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  display: block;
}

.projetpreview {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.projetpreview img {
  position: relative;
  width: 100%;
}

.projetpreview .icon {
  position: absolute;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 3px;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
}
.projetpreview .icon:hover {
  scale: 1.2;
}

.projetpreview .icon-trash {
  left: 57px;
}
.projetpreview .icon-largeview {
  left: 34px;
  display: none;
}

/** ----- GALLERIE MODALE (fin) ----- **/

.modale-wrapper .separation-bar {
  background-color: grey;
  opacity: 0.7;
  height: 1px;
  margin: 1rem 6rem;
}

#deleteallphotos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  color: red;
  opacity: 0.7;
}
#deleteallphotos:hover {
  opacity: 1;
}

/** ---------- modale confirmation-window (début)  -------- **/

#confirmationwindow {
  display: none;
}

.confirmation-window {
  /* position: absolute; */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.confirmation-window-wrapper {
  border: 1px solid grey;
  position: absolute;
  background: var(--backgroung-color-light);
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 0.4rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vw - 2rem);
  width: 350px;
  padding: 1rem;
}

.confirmation-window-wrapper h3 {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.reponsebox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.bouton-confirmation {
  font-family: "Syne";
}

.bouton-confirmation:hover {
  cursor: pointer;
  text-decoration: underline;
}

#annulersuppression {
  color: #1d6154;
}

#confirmersuppression {
  color: #b20a37;
}

/** ---------- modale confirmation-window (fin)  -------- **/

/** ---------- fenêtre d'ajout de photo (début)  -------- **/

#addPhotoWindow {
  display: none;
}

.addphoto-window {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

#addphotowindowwrapper {
  /* position: absolute; */
  border: 1px solid grey;
  background-color: var(--backgroung-color-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.4rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vw - 2rem);
  width: 630px;
  padding: 1rem;

  /* margin: auto; */
}
#addphotowindowwrapper > * {
  text-align: center;
}
#addphotowindowwrapper .wrappernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
#addphotowindowwrapper .wrappernav i {
  cursor: pointer;
}
#addphotowindowwrapper h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#addphotowindowwrapper form {
  /* border: 1px solid grey; */
  text-align: left;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  margin: 0rem 100px;
}
#addphotowindowwrapper label {
  margin: 2em 0 1em 0;
  font-size: 1rem;
}
#addphotowindowwrapper input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0 1rem;
}
#addphotowindowwrapper select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0 1rem;
}
#addphotowindowwrapper .separation-bar {
  background-color: grey;
  opacity: 0.7;
  height: 1px;
  margin-top: 2.5rem;
}
#addphotowindowwrapper input[type="submit"] {
  height: 36px;
  width: 237px;
}

/** ---------- fenêtre d'ajout de photo (fin)  -------- **/

/** ------------------------ MODALE (fin) ------------------------ **/

header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin: 50px 0; */
  padding: 0 2rem;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  margin: 0;
}
li a:hover {
  color: #b1663c;
}

#logoutlink {
  display: none;
}

#introduction {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  /* text-align: center; */
  margin-bottom: 5em;
  padding: 0 1rem;
}

#portfolio .gallery-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/** Boutons de filtrage **/

.filtres {
  /* border: 1px solid #1d6154; */
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-family: "Syne";
  background-color: var(--backgroung-color-light);
  color: var(--middle-green);
  height: 2rem;
  border: 1px solid var(--middle-green);
  border-radius: 60px;
  padding: 5px 25px;
  transition: 0.15s ease-out;
}

.btn:hover {
  color: var(--backgroung-color-light);
  background-color: var(--middle-green);
}

.btn:active,
.btn-static:active {
  background-color: var(--dark-green);
}

.btn-clicked {
  color: var(--backgroung-color-light);
  background-color: var(--middle-green);
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  color: var(--backgroung-color-light);
  background-color: var(--middle-green);
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
input[type="submit"]:hover {
  opacity: 0.9;
}
input[type="submit"]:active {
  background-color: var(--dark-green);
}

/** footer start **/
footer {
  background: white;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  left: 0;
}
footer nav ul:hover {
  color: #b1663c;
}
#footer-login {
  bottom: 0; /* on le colle en bas */
}
/** footer end **/

/** section login **/
#login {
  width: 50%;
  margin: auto;
  position: relative;
}
#login > * {
  text-align: center;
}
#login h2 {
  margin-bottom: 20px;
}
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#login form + p {
  text-decoration: underline;
}
#login input {
  height: 50px;
  padding-left: 1rem;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

  /* color: #1d6154; */
  transition: background-color 500ms;
}
#login input:focus {
  outline: 2px solid var(--middle-green);
}

#login input:not(:focus):invalid {
  outline: 2px solid #b20a37;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

#login label {
  margin: 2em 0 1em 0;
}

.errormsg {
  text-align: center;
  margin-top: 0.5rem;
  color: red;
  font-style: italic;
}

#loginerror {
  margin-top: 1.5rem;
  font-size: 1.2em;
  text-align: center;
}
/** section login end **/
